
#root {
    align-content: center;
    width: 960px;
    height: 1034px;
    margin-left: 23px;
    margin-top: 147px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #000000;

p.para{
    margin-right: 25px; 
}
img{
    margin-left: 23px;
    float: left;
    margin-right: 10px;
}

}